@using WebApp.Shared;
@using Microsoft.AspNetCore.Authorization;
@using System.Net.Http;
@using System.Net.Http.Json;
@using Newtonsoft.Json;

@page "/company"

@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager Navigation


<h3> Company (@all_Companies.Count())</h3>


<ul class="list-group">
    <a href="company/create"> Create Company</a>
    @if (all_Companies != null)
    {
        @foreach (var comp in all_Companies)
        {
<li class="list-group-item">
    <h5><strong>Company Name: </strong>@comp.CompanyName</h5>
    @if (@comp.WorkingOnProject != null && comp.WorkingOnProject.Count() != 0)
    {
        <strong>Projects</strong>
        @foreach (var project in @comp.WorkingOnProject)
        {
            <ul>
                <li>@project.ProjectName</li>
            </ul>
        }
    }
    else
    {
        <p> No projects assigned to the company </p>
    }
    <a href="company/edit/@comp.CompanyId"> Edit</a>
    <a href="company/delete/@comp.CompanyId"> Delete</a>
</li>
        }
    }
    else
    {
        <p> The value is null</p>
    }
</ul>

@code {

    private List<Company> all_Companies = new List<Company>();

    protected override async Task OnInitializedAsync()
    {
        try {
            all_Companies = await http.GetFromJsonAsync<List<Company>>("Companies");

        } catch (Exception e)
        {

        }
    }
}